In [5]:
import pandas as pd
from math import sqrt

import datetime

In [6]:
points = [
    (3.7216,51.053),
    (4.4139,51.2128),
    (5.1317,51.1915),
    (4.3798,50.8336),
    (4.7121,50.8826),
    (5.3255,50.9273),
    (5.5407,50.6334),
    (4.3798,50.414),
    (4.8676,50.463),
    (4.4927,50.0604),
    (4.9847,49.9859),
    (3.9474,50.4524),
    (3.8686,50.77612),
    (5.0934,50.742),
    (5.5428,51.2511)
]

In [9]:
def find_closest(lon, lat):
    dists = []
    for p in points:
        dists.append(sqrt((p[0] - lon)**2 + (p[1] - lat)**2))
    return dists.index(min(dists))

In [26]:
def find_timestamp(timestr):
    month = timestr.month
    day = timestr.day
    hour = timestr.hour
    minute = timestr.minute
    minute += hour*60
    rest = minute % 180
    hour = int((minute - rest)/ 60)
    datum = datetime.datetime(2023, month, day, hour)
    if rest > 90:
        datum = datum + datetime.timedelta(hours=3)
    return datum

# Read and process train data

In [2]:
df = pd.read_csv('ar41_for_ulb.csv', sep = ';')

,Unnamed: 0,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2
0,0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0
1,1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0
2,2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0
3,3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0
4,4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0

In [4]:
df=df.loc[:, ~df.columns.str.contains('^Unnamed')]

,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2
0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0
1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0
2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0
3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0
4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0

In [ ]:
df = df.drop(df[df.lat > 51.45].index)
df = df.drop(df[df.lat < 49.9].index)
df = df.drop(df[df.lon > 6.15].index)
df = df.drop(df[df.lon < 3.4].index)

df = df.drop(df[(df.lon > 5.1) & (df.lat < 50.35)].index)

In [34]:
df['weather_api_point_id'] = df.apply(lambda x: find_closest(x.lon, x.lat), axis=1)

In [12]:
df['timestamps_UTC']= pd.to_datetime(df['timestamps_UTC'])

In [27]:
df['weather_api_timestamps'] = df['timestamps_UTC'].apply(find_timestamp)

In [35]:
df.head(100)

,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,RS_E_WatTemp_PC1,RS_E_WatTemp_PC2,RS_T_OilTemp_PC1,RS_T_OilTemp_PC2,weather_api_point_id,weather_api_timestamps
0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,83.0,81.0,76.0,77.0,12,2023-08-01 03:00:00
1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,78.0,78.0,73.0,74.0,0,2023-08-01 06:00:00
2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,82.0,82.0,85.0,87.0,12,2023-08-24 06:00:00
3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,77.0,81.0,78.0,82.0,5,2023-08-01 15:00:00
4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,85.0,78.0,82.0,79.0,0,2023-08-24 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,181.0,2023-08-24 05:26:20,51.149477,4.521748,48.0,41.0,213.0,196.0,799.0,797.0,87.0,89.0,81.0,87.0,1,2023-08-24 06:00:00
96,121.0,2023-08-24 05:26:38,50.466237,3.948079,40.0,36.5,217.0,213.0,789.0,800.5,86.5,87.0,85.5,84.5,11,2023-08-24 06:00:00
97,159.0,2023-08-24 05:28:50,50.788946,3.869880,35.0,26.0,324.0,414.0,1316.0,1331.0,82.0,84.0,84.0,87.0,12,2023-08-24 06:00:00
98,179.0,2023-08-24 05:34:59,51.159618,4.664623,38.0,40.0,396.0,372.0,1981.0,1956.0,82.0,83.0,82.0,84.0,1,2023-08-24 06:00:00
99,121.0,2023-08-24 05:40:30,50.461220,3.948056,40.0,36.0,217.0,217.0,814.0,808.0,85.0,81.0,87.0,86.0,11,2023-08-24 06:00:00

# Read and process weather data

In [46]:
df_weather = pd.read_csv('final_dataframe.csv', sep = ',')
df_weather.head(5)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,weather_main,weather_description,weather_icon,rain_1h,latitude,longitude,timezone,dt_datetime,dt_cet
0,1672527600,1672559313,1672588087,15.06,14.34,1008,66,8.76,98,10.42,219,Clouds,overcast clouds,04n,0.0,51.0530,3.7216,Europe/Brussels,2022-12-31 23:00:00,2023-01-01 00:00:00+01:00
1,1672527600,1672559193,1672587874,15.86,15.09,1008,61,8.36,100,9.26,210,Clouds,overcast clouds,04n,0.0,51.2128,4.4139,Europe/Brussels,2022-12-31 23:00:00,2023-01-01 00:00:00+01:00
2,1672527600,1672559015,1672587708,15.45,14.54,1010,57,6.98,78,10.20,223,Clouds,broken clouds,04n,0.0,51.1915,5.1317,Europe/Brussels,2022-12-31 23:00:00,2023-01-01 00:00:00+01:00
3,1672527600,1672559092,1672587992,15.99,15.05,1009,54,6.70,0,12.35,230,Clear,clear sky,01n,0.0,50.8336,4.3798,Europe/Brussels,2022-12-31 23:00:00,2023-01-01 00:00:00+01:00
4,1672527600,1672559026,1672587898,16.41,15.49,1010,53,6.82,75,12.35,230,Clouds,broken clouds,04n,0.0,50.8826,4.7121,Europe/Brussels,2022-12-31 23:00:00,2023-01-01 00:00:00+01:00

In [47]:
df_weather['weather_api_point_id'] = df_weather.apply(lambda x: find_closest(x.longitude, x.latitude), axis=1)

In [48]:
df_weather.tail(5)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,...,weather_main,weather_description,weather_icon,rain_1h,latitude,longitude,timezone,dt_datetime,dt_cet,weather_api_point_id
30715,1687816800,1687836758,1687895594,14.06,13.45,1023,74,9.50,86,3.22,...,Clouds,overcast clouds,04n,0.0,49.9859,4.9847,Europe/Brussels,2023-06-26 22:00:00,2023-06-27 00:00:00+02:00,10
30716,1687816800,1687836862,1687895987,15.24,14.83,1022,77,11.24,40,2.06,...,Clouds,scattered clouds,03n,0.0,50.4524,3.9474,Europe/Brussels,2023-06-26 22:00:00,2023-06-27 00:00:00+02:00,11
30717,1687816800,1687836779,1687896109,16.16,15.82,1022,76,11.93,97,3.43,...,Clouds,overcast clouds,04n,0.0,50.7761,3.8686,Europe/Brussels,2023-06-26 22:00:00,2023-06-27 00:00:00+02:00,12
30718,1687816800,1687836496,1687895804,15.95,15.66,1020,79,12.32,97,2.88,...,Clouds,overcast clouds,04n,0.0,50.7420,5.0934,Europe/Brussels,2023-06-26 22:00:00,2023-06-27 00:00:00+02:00,13
30719,1687816800,1687836223,1687895861,15.22,14.70,1020,73,10.42,57,2.06,...,Clouds,broken clouds,04n,0.0,51.2511,5.5428,Europe/Brussels,2023-06-26 22:00:00,2023-06-27 00:00:00+02:00,14

In [50]:
df_weather['dt_datetime'] = pd.to_datetime(df_weather['dt_datetime'])

In [49]:
def adjust_timezone(dt_datetime):
    if dt_datetime > datetime.datetime(2023,3,26,0):
        dt_datetime += datetime.timedelta(hours=2)
    else:
        dt_datetime += datetime.timedelta(hours=1)
    return dt_datetime

In [51]:
df_weather['dt_datetime'] = df_weather['dt_datetime'].apply(adjust_timezone)

In [53]:
df_weather.head(100)

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,...,weather_main,weather_description,weather_icon,rain_1h,latitude,longitude,timezone,dt_datetime,dt_cet,weather_api_point_id
0,1672527600,1672559313,1672588087,15.06,14.34,1008,66,8.76,98,10.42,...,Clouds,overcast clouds,04n,0.00,51.0530,3.7216,Europe/Brussels,2023-01-01 00:00:00,2023-01-01 00:00:00+01:00,0
1,1672527600,1672559193,1672587874,15.86,15.09,1008,61,8.36,100,9.26,...,Clouds,overcast clouds,04n,0.00,51.2128,4.4139,Europe/Brussels,2023-01-01 00:00:00,2023-01-01 00:00:00+01:00,1
2,1672527600,1672559015,1672587708,15.45,14.54,1010,57,6.98,78,10.20,...,Clouds,broken clouds,04n,0.00,51.1915,5.1317,Europe/Brussels,2023-01-01 00:00:00,2023-01-01 00:00:00+01:00,2
3,1672527600,1672559092,1672587992,15.99,15.05,1009,54,6.70,0,12.35,...,Clear,clear sky,01n,0.00,50.8336,4.3798,Europe/Brussels,2023-01-01 00:00:00,2023-01-01 00:00:00+01:00,3
4,1672527600,1672559026,1672587898,16.41,15.49,1010,53,6.82,75,12.35,...,Clouds,broken clouds,04n,0.00,50.8826,4.7121,Europe/Brussels,2023-01-01 00:00:00,2023-01-01 00:00:00+01:00,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1672592400,1672558892,1672587738,11.09,10.60,1015,90,9.51,100,4.12,...,Rain,light rain,10n,0.76,50.9273,5.3255,Europe/Brussels,2023-01-01 18:00:00,2023-01-01 18:00:00+01:00,5
96,1672592400,1672558756,1672587770,10.76,10.29,1017,92,9.51,75,4.12,...,Rain,light rain,10n,0.95,50.6334,5.5407,Europe/Brussels,2023-01-01 18:00:00,2023-01-01 18:00:00+01:00,6
97,1672592400,1672558973,1672588110,9.70,7.58,1015,96,9.09,20,4.12,...,Rain,moderate rain,10n,1.52,50.4140,4.3798,Europe/Brussels,2023-01-01 18:00:00,2023-01-01 18:00:00+01:00,7
98,1672592400,1672558870,1672587980,10.95,10.45,1015,90,9.38,100,5.00,...,Rain,moderate rain,10n,1.04,50.4630,4.8676,Europe/Brussels,2023-01-01 18:00:00,2023-01-01 18:00:00+01:00,8
99,1672592400,1672558848,1672588181,10.50,10.22,1015,100,10.50,100,4.00,...,Rain,moderate rain,10n,1.18,50.0604,4.4927,Europe/Brussels,2023-01-01 18:00:00,2023-01-01 18:00:00+01:00,9

In [55]:
df_weather['dt_datetime'].apply(lambda x: x.hour).unique()

array([ 0,  3,  6,  9, 12, 15, 18, 21], dtype=int64)

In [56]:
df['weather_api_timestamps'].apply(lambda x: x.hour).unique()

array([ 3,  6, 15,  9,  0, 12, 18, 21], dtype=int64)

In [57]:
merged_df = pd.merge(df, df_weather,  how='left', left_on=['weather_api_timestamps','weather_api_point_id'], right_on = ['dt_datetime','weather_api_point_id'])

In [58]:
merged_df.head(5)

,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,...,wind_deg,weather_main,weather_description,weather_icon,rain_1h,latitude,longitude,timezone,dt_datetime,dt_cet
0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,...,252.0,Rain,light rain,10n,0.12,50.7761,3.8686,Europe/Brussels,2023-08-01 03:00:00,2023-08-01 03:00:00+02:00
1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,...,248.0,Clear,clear sky,01n,0.00,51.0530,3.7216,Europe/Brussels,2023-08-01 06:00:00,2023-08-01 06:00:00+02:00
2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,...,107.0,Clouds,overcast clouds,04n,0.00,50.7761,3.8686,Europe/Brussels,2023-08-24 06:00:00,2023-08-24 06:00:00+02:00
3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,...,258.0,Clouds,broken clouds,04d,0.00,50.9273,5.3255,Europe/Brussels,2023-08-01 15:00:00,2023-08-01 15:00:00+02:00
4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,...,105.0,Clouds,broken clouds,04n,0.00,51.0530,3.7216,Europe/Brussels,2023-08-24 06:00:00,2023-08-24 06:00:00+02:00

In [63]:
merged_df.drop(columns=['weather_api_timestamps', 'weather_api_point_id', 'dt_datetime', 'dt_cet', 'timezone', 'latitude', 'longitude', 'weather_description', 'dt', 'sunset', 'sunrise'], inplace=True)

In [64]:
merged_df.head(5)

,mapped_veh_id,timestamps_UTC,lat,lon,RS_E_InAirTemp_PC1,RS_E_InAirTemp_PC2,RS_E_OilPress_PC1,RS_E_OilPress_PC2,RS_E_RPM_PC1,RS_E_RPM_PC2,...,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,weather_main,weather_icon,rain_1h
0,181.0,2023-08-01 03:44:12,50.769818,3.872114,27.0,23.0,255.0,238.0,794.0,801.0,...,15.33,1001.0,94.0,14.33,96.0,4.48,252.0,Rain,10n,0.12
1,143.0,2023-08-01 06:36:29,51.039993,3.693429,33.0,32.0,272.0,324.0,802.0,804.0,...,15.83,1001.0,93.0,14.64,10.0,5.01,248.0,Clear,01n,0.00
2,183.0,2023-08-24 06:53:54,50.742203,3.602035,31.0,33.0,234.0,182.0,799.0,802.0,...,18.37,1015.0,89.0,16.33,96.0,3.37,107.0,Clouds,04n,0.00
3,177.0,2023-08-01 13:53:38,50.930914,5.327132,35.0,38.0,220.0,244.0,794.0,801.0,...,20.58,1002.0,61.0,13.06,75.0,9.39,258.0,Clouds,04d,0.00
4,143.0,2023-08-24 07:02:30,51.180773,3.575259,41.0,34.0,227.0,282.0,806.0,800.0,...,17.85,1015.0,92.0,16.32,70.0,3.48,105.0,Clouds,04n,0.00

In [65]:
merged_df.to_csv('data_enriched.csv')